<!-- Login Modal Start -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h1 class="modal-title" id="exampleModalLabel">
                    Đăng nhập
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>
            </div>
            <div class="modal-body"><br>
                
                <!-- Login Facebook -->
                @* <a href="" class="col">
                    <div class="card cardHoverLine card-stats card-round" style="--card-padding: 0px"> <!-- --card-padding fix aqua.min.css -->
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-3">
                                    <div class="icon-big text-center"><!-- Facebook Icon -->
                                        <i class="fab fa-facebook" style="font-size: 3em; color: #4267B2;"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        <p class="card-category" style="text-align: center; font-size: 1.5em; margin-top: 15px;">
                                            <b>Đăng nhập bằng Facebook</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a> *@
                
                <!-- Login Google -->
                @* <a href="" class="col">
                    <div class="card cardHoverLine card-stats card-round" style="--card-padding: 0px">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-3">
                                    <div class="icon-big text-center"><!-- Google Icon -->
                                        <i class="fab fa-google" style="font-size: 3em; color: #EA4335;"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        <p class="card-category" style="text-align: center; font-size: 1.5em; margin-top: 15px;">
                                            <b>Đăng nhập bằng Google</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a> *@
                
                <!-- Login Apple -->
                @* <a href="" class="col">
                    <div class="card cardHoverLine card-stats card-round" style="--card-padding: 0px">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3">
                                    <div class="icon-big text-center"><!-- Apple Icon -->
                                        <i class="fab fa-apple" style="font-size: 3em; color: black;"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-stats">
                                    <div class="numbers">
                                        <p class="card-category" style="text-align: center; font-size: 1.5em; margin-top: 15px;">
                                            <b>Đăng nhập bằng Apple</b>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a> *@
                
                @* <br><br> *@
                
                <!-- Input form -->
                <form>
                    <div class="form-input-material">
                        <input type="text" name="username" placeholder=" " autocomplete="off" class="form-control-material form-control-lg" style="width: 100%;" required />
                        <label for="username" class="text-uppercase">
                            tên người dùng
                        </label>
                    </div>
                    <br><br>
                    <div class="form-input-material">
                        <input type="password" name="password" placeholder=" " autocomplete="off" class="form-control-material form-control-lg" style="width: 100%;" required />
                        <label for="password" class="text-uppercase">
                            mật khẩu
                        </label>
                    </div>
                    <br>
                    <a href="" class="text-decoration-none float-right" style="font-size: 20px; color: #3ccfcf;">
                        Bạn quên rồi à ?
                    </a>
                </form>

                <br><br>

                <!-- Login Button -->
                <a href="" class="col" style="text-decoration: none;">
                    <div class="card _cardbtn card-stats card-round" style="background-color: #3ccfcf;">
                        <div class="card-body text-center text-white" style="font-size: 2em;">
                            <b>Đăng nhập</b>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </div>
</div>
<!-- Login Modal End -->