<!-- Report Class Modal Start -->
<div class="modal fade" id="reportClassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h1 class="modal-title" id="exampleModalLabel">
                    Báo cáo lớp học
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>

            </div>
            <div class="modal-body">
                <div class="modal-container">
                    <h4>Vì sao bạn báo cáo lớp học này?</h4>
                    <label class="radio">
                        <input type="radio" name="r" value="1" checked>
                        <span><h4>Tên lớp này có sai lệch</h4></span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="r" value="2">
                        <span><h4>Nó không phù hợp</h4></span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="r" value="3">
                        <span><h4>Lớp này được sử dụng để gian lận</h4></span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="r" value="4">
                        <span><h4>Nó vi phạm quyền sở hữu trí tuệ của tôi</h4></span>
                    </label>
                    <br>
                    <button class="btn btn-secondary">Tiếp tục</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Report Class Modal End -->