<!-- Share Set Modal Start -->
<div class="modal fade" id="shareSetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h1 class="modal-title" id="exampleModalLabel">
                    Chia sẻ học phần
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-container">
                    <button class="float-right btn btn-secondary mt-2">Gửi email</button>
                    <div class="form-group form-floating-label">
                        <input id="TitleShareLabel" type="text" class="form-control input-border-bottom" style="width: 72%;" required="">
                        <label for="TitleShareLabel" class="placeholder">
                            <h4><b>Chia sẻ liên kết qua Email</b></h4>
                        </label>
                    </div>          
                    <br><br>
                    <div class="input-group">
                        <input type="text" value="https://flashcard.com/_8zplob?x=1jqt&i=39tkrg" style="width: 60%;" class="form-control">&ensp;
                        <button class="btn btn-secondary" style="display: inline-block;">Sao chép</button>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Share Set Modal End -->