<!-- Add Set to Folders Modal Start -->
<div class="modal fade" id="addSetToFolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h1 class="modal-title" id="exampleModalLabel">
                    Thêm học phần
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>

            </div>
            <div class="modal-body">
                <div class="modal-container">
                    <a href="" class="col" style="text-decoration: none;">
                        <div class="card _cardbtn card-stats card-round" style="border: 2px solid #716aca;">
                            <div class="card-body text-center text-dark" style="font-size: 2em;">
                                <b>Tạo học phần mới</b>
                            </div>
                        </div>
                    </a>
                    <ul class="nav nav-pills nav-secondary" id="pills-tab" role="tablist">
                        <li class="nav-item submenu">
                            <a class="nav-link active show" id="pills-yourset-tab" data-toggle="pill" href="#pills-yourset" role="tab" aria-controls="pills-yourset" aria-selected="true">
                                Học phần của bạn
                            </a>
                        </li>
                        <li class="nav-item submenu">
                            <a class="nav-link" id="pills-classset-tab" data-toggle="pill" href="#pills-classset" role="tab" aria-controls="pills-classset" aria-selected="false">
                                Học phần của lớp
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content mt-2 mb-3" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-yourset" role="tabpanel" aria-labelledby="pills-yourset-tab">
                            <div class="card card-stats card-round" style="border: 2px solid #716aca;">
                                <div class="card-body">
                                    <button class="float-right btn btn-success"><i class="fas fa-minus"></i></button>
                                    <h2 class="text-uppercase" style="padding: 10px;">Tiếng anh nhập môn</h2>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="pills-classset" role="tabpanel" aria-labelledby="pills-classset-tab">
                            <h3><b>Lớp tiếng anh viết và đọc thầy Huy</b></h3>
                            <div class="card card-stats card-round" style="border: 2px solid #716aca;">
                                <div class="card-body">
                                    <button class="float-right btn btn-success"><i class="fas fa-minus"></i></button>
                                    <h2 class="text-uppercase" style="padding: 10px;">tiếng trung cơ bản</h2>
                                </div>
                            </div>

                            <div class="card card-stats card-round" style="border: 2px solid #716aca;">
                                <div class="card-body">
                                    <button class="float-right btn btn-outline-danger"><i class="fas fa-plus"></i></button>
                                    <h2 class="text-uppercase" style="padding: 10px;">Tiếng trung cơ bản</h2>
                                </div>
                            </div>
                            
                            <div class="card card-stats card-round" style="border: 2px solid #716aca;">
                                <div class="card-body">
                                    <button class="float-right btn btn-outline-danger"><i class="fas fa-plus"></i></button>
                                    <h2 class="text-uppercase" style="padding: 10px;">Tiếng anh viết và đọc</h2>
                                </div>
                            </div>

                            <br><br>
                            <h3><b>Lớp 116A - Đại học Sài Gòn SGU</b></h3>
                            <p>Chưa có học phần nào</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Set to Folders Modal End -->