<!-- Add Folders to Classes Modal Start -->
<div class="modal fade" id="addFolderToClassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h1 class="modal-title" id="exampleModalLabel">
                    Thêm thư mục
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>

            </div>
            <div class="modal-body">
                <div class="modal-container">
                    <a href="" class="col" style="text-decoration: none;">
                        <div class="card _cardbtn card-stats card-round" style="border: 2px solid #716aca;">
                            <div class="card-body text-center text-dark" style="font-size: 2em;">
                                <b>Tạo thư mục mới</b>
                            </div>
                        </div>
                    </a>

                    <div class="card card-stats card-round" style="border: 2px solid #716aca;">
                        <div class="card-body">
                            <button class="float-right btn btn-success"><i class="fas fa-minus"></i></button>
                            <h2 class="text-uppercase" style="padding: 10px;">Tiếng trung cơ bản</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Folders to Classes Modal End -->