<!-- Change Password Modal Start -->
<div class="modal fade" id="changePassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h1 class="modal-title" id="exampleModalLabel">
                    Đổi mật khẩu
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>

            </div>
            <div class="modal-body">
                <div class="modal-container">
                    <div class="form-group form-floating-label" style="padding: 0;">
                        <input id="VerifyPassLabel" type="text" class="form-control input-border-bottom" required="">
                        <label for="VerifyPassLabel" class="placeholder">
                            <h5><b>Nhập mật khẩu cũ</b></h5>
                        </label>
                    </div><br>
                    <div class="form-group form-floating-label" style="padding: 0;">
                        <input id="NewPassLabel" type="text" class="form-control input-border-bottom" required="">
                        <label for="NewPassLabel" class="placeholder">
                            <h5><b>Nhập mật khẩu mới</b></h5>
                        </label>
                    </div><br>
                    <div class="form-group form-floating-label" style="padding: 0;">
                        <input id="NewPassLabel2" type="text" class="form-control input-border-bottom" required="">
                        <label for="NewPassLabel2" class="placeholder">
                            <h5><b>Nhập lại mật khẩu mới</b></h5>
                        </label>
                    </div><br><br>
                    <button class="btn btn-success">Đổi mật khẩu</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Change Password Modal End -->