<!-- Folder Learn Modal Start -->
<div class="modal fade" id="learnFolderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h1 class="modal-title" id="exampleModalLabel">
                    Học thư mục này
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="quick-actions">
                    <div class="quick-actions-items">
                        <div class="row m-0">
                            <a class="col-6" href="#">
                                <div class="quick-actions-item">
                                    <img src="resources\images\svg_icons\card.svg" class="svg-foldermenu">
                                    <span class="text">Thẻ ghi nhớ</span>
                                </div>
                            </a>
                            <a class="col-6" href="#">
                                <div class="quick-actions-item">
                                    <img src="resources\images\svg_icons\play.svg" class="svg-foldermenu">
                                    <span class="text">Học</span>
                                </div>
                            </a>
                            <a class="col-6" href="#">
                                <div class="quick-actions-item">
                                    <img src="resources\images\svg_icons\writing.svg" class="svg-foldermenu">
                                    <span class="text">Viết</span>
                                </div>
                            </a>
                            <a class="col-6" href="#">
                                <div class="quick-actions-item">
                                    <img src="resources\images\svg_icons\book.svg" class="svg-foldermenu">
                                    <span class="text">Kiểm tra</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Folder Learn Modal End -->