<!-- Remove All Class Confirm Modal Start -->
<div class="modal fade" id="removeClassModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h1 class="modal-title" id="exampleModalLabel">
                    Xoá lớp này ?
                </h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-window-close"></i>
                </button>

            </div>
            <div class="modal-body">
                <div class="modal-container">
                    <p>Bạn chuẩn bị xoá lớp này. Không ai có thể truy cập vào lớp này nữa.</p>
                    <h4>Bạn có chắc chắn không? <br> Bạn sẽ không được hoàn tác.</h4>
                    <br>
                    <button class="btn btn-danger btn-block">Đúng</button>
                    <button class="btn btn-default btn-block">Hủy</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Remove All Class Confirm Modal End -->