@model Application.ViewModels.UserViewModel  

<div class="panel-header bg-white">
    <div class="page-inner py-5">
        <!-- Page Url  -->
        <div class="page-header">
            <h4 class="page-title">@ViewData["Page.Target"]</h4> <!-- Page Target Big -->
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="fas fa-angle-right"></i>
                </li>
                <li class="nav-item">
                    Trang
                </li>
                <li class="separator">
                    <i class="fas fa-angle-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">@ViewData["Page.Target"]</a> <!-- Page Target Small -->
                </li>
            </ul>
        </div>

        <!-- Page Content  -->
        <div class="card-body">
            <h1><b>Tham gia hoặc tạo lớp học</b></h1>     
            <div style="width: 500px;">
                <label class="text-muted" style="padding-bottom: 5px;">
                    <b>Nhập tên lớp hoặc trường: </b>
                </label>
                <div class="input-icon">
                    <input type="text" class="form-control" 
                    placeholder="Ví dụ: Tiếng Anh của Cô Ngọc, Trường đại học Sài Gòn.">
                    <span class="input-icon-addon">
                        <i class="fa fa-search"></i>
                    </span>
                </div>
            </div><br>

            <a href="" class="text-success" data-toggle="modal" data-target="#createClassModal">
                <b>Tạo lớp mới</b>
            </a><br><br>
            
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/Modal/_createClassModal.cshtml")